.productimagesrow {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  margin: 20px 0 0 0;
}

.productimagesrow > img {
  border: 1px solid rgb(218, 215, 215);
  margin: 0 5px;
  cursor: pointer;
}

.productpage h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.ratings {
  font-size: 12px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.price {
  font-size: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.discription {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.category {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: grey;
  line-height: 30px;
}

.category > b {
  color: black;
}

.variation span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: grey;
  line-height: 30px;
}

.variation select {
  border: none;
  border-bottom: 2px solid black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px 20px 10px 5px;
  outline: none;
}

.variation select optgroup {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: white;
}

.quantity span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: grey;
  line-height: 30px;
  margin-right: 5px;
}

.quantity > input {
  outline: none;
  border: none;
  background-color: rgb(230, 230, 230);
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  max-width: 100px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.addtocardbtn {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-family: 700;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 15px 25px;
}

.addtowishlist {
  color: rgb(194, 194, 194);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.submitreview {
  color: green;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.productpage h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.reviews h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
}

.reviews h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}
