.contact h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 30px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact form > input,
.contact form > textarea {
  margin: 15px 0;
  border: none;
  outline: none;
  font-weight: 400;
  background-color: rgb(240, 238, 238);
  font-family: "Poppins", sans-serif;
  height: 50px;
  padding: 10px;
}

.contact form > textarea {
  height: 100px;
}

.contact form > input[type="submit"] {
  background-color: black;
  color: white;
  font-weight: 700;
}

.contactinfocards {
  display: flex;
  flex-direction: column;
}

.contactinfocards h3 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.contactinfocards p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.contactinfocards > div {
  border-bottom: 3px solid black;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  box-shadow: 2px 2px 20px 2px rgb(238, 238, 238);
}

.contactinfocards > div > a, .contactinfocards > div > span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.ourlocation {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
}
