.editcategories * {
  font-family: "Poppins", sans-serif;
}

.editcategories h2 {
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.editcategories form {
  display: flex;
  flex-direction: column;
}

.editcategories form > input {
  margin: 15px 0;
  border: none;
  outline: none;
  font-weight: 400;
  background-color: rgb(240, 238, 238);
  font-family: "Poppins", sans-serif;
  height: 50px;
  padding: 10px;
}

.editcategories form > input[type="submit"] {
  background-color: black;
  color: white;
  font-weight: 700;
}

.editcategories form > input[type="button"] {
  background-color: rgb(114, 112, 112);
  color: white;
  font-weight: 700;
}

.subcategories form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.subcategories form input {
  width: 80%;
}

.subcategories form input[type="submit"] {
  width: 20%;
}
