.settings * {
  font-family: "Poppins", sans-serif;
}

.settings span {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.settings input {
  background-color: rgb(219, 217, 217);
  border: none;
  outline: none;
  padding: 10px;
}

.settings input[type="file"] {
  background-color: white;
}

.settings button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  outline: none;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .settings input,
  .settings button {
    width: 100%;
  }
}
