.addproduct * {
  font-family: "Poppins", sans-serif;
}

.addproduct h2 {
  font-weight: 700;
  margin-top: 20px;
}

.addproduct form {
  display: flex;
  flex-direction: column;
}

.addproduct form > input {
  margin: 15px 0;
  border: none;
  outline: none;
  font-weight: 400;
  background-color: rgb(240, 238, 238);
  font-family: "Poppins", sans-serif;
  height: 50px;
  padding: 10px;
}

.addproduct form > textarea {
  margin: 15px 0;
  border: none;
  outline: none;
  font-weight: 400;
  background-color: rgb(240, 238, 238);
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.addproduct form > select {
  margin: 15px 0;
  border: none;
  outline: none;
  font-weight: 400;
  background-color: rgb(240, 238, 238);
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.addimagesbox {
  margin: 15px 0;
  font-weight: 400;
  background-color: rgb(240, 238, 238);
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.addimagesbox > div{
    padding: 10px 0 0 0;
}

.addproduct form > input[type="submit"] {
  background-color: black;
  color: white;
  font-weight: 700;
}
