.signup h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
}

.signup form {
  display: flex;
  flex-direction: column;
}

.signup form > input {
  margin: 15px 0;
  border: none;
  outline: none;
  font-weight: 400;
  background-color: rgb(240, 238, 238);
  font-family: "Poppins", sans-serif;
  height: 50px;
  padding: 10px;
}

.signup form > input[type="submit"] {
  background-color: black;
  color: white;
  font-weight: 700;
}

.signup form > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0 0 0;
}

.signup form > input[type="file"] {
  background-color: white;
  font-weight: 700;
}

.signup a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: black;
  text-align: right;
  margin: 20px 0 0 0;
}
