.newsSheltter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.newsSheltter h5 {
  font-size: 14px;
  font-weight: 700;
}

.newsSheltter P {
  font-size: 13px;
  font-weight: 400;
}

.newsSheltter input[type="email"] {
  border: none;
  outline: none;
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 12px;
  height: 48px;
  padding: 0 10px;
  width: 300px;
}

.newsSheltter input[type="button"] {
  border: none;
  outline: none;
  background-color: #33373d;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
  height: 48px;
  padding: 0 20px;
}

.newsSheltter svg {
  margin: 0 15px;
  font-size: 18px;
  font-weight: 400;
}

.footer h3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.footer strong {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.footer span {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li a {
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.footer ul li a:hover {
  color: black;
}

.footerBottom span {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: rgb(144, 150, 154);
  font-weight: 400;
}

@media screen and (max-width: 1000px){
    .newsSheltter{
        flex-direction: column;
    }
}