@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll !important;
}

.mt-10 {
  margin-top: 100px;
}

.multi-range-slider .bar-inner{
  background-color: black !important;
}
