.header *{
    font-family: "Poppins", sans-serif;
}

.header{
    display: flex;
    border-bottom: 1px solid rgb(236, 235, 235);
    padding: 10px;
    position: relative;
    z-index: 100;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.menuicon{
    display: none;
}

.header div a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin: 0 10px;
}

@media screen and (max-width: 1000px){
    .menuicon{
        display: initial;
    }
}