.search form {
  display: flex;
  width: 100%;
  margin: 50px auto;
}

.search form > input {
  padding: 20px 10px;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: rgb(240, 238, 238);
  width: 100%;
}

.search form > button {
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 14px;
  border: none;
  outline: none;
  font-weight: 600;
  width: 150px;
  transition: all 200ms linear;
}

.search form > button:hover {
  background-color: rgb(46, 45, 45);
}

.blankheight {
  height: 200px;
}

.search h2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
